/* GLOBAL */
:root {
  --base-grid: 6px;
  --colour-white: #fff;
  --colour-black: #1a1a1a;
}
* {
  margin: 0;
  padding: 0;
  font-family: 'Cairo', sans-serif;
  letter-spacing: .05em;  
  box-sizing: border-box;
  transition-timing-function: ease;
  transition-duration: 0.3s;
}
body, html {
  height: 100%;
  scroll-behavior: smooth;
}
a {
  text-decoration: none!important;
  cursor: pointer!important;
}
button:focus 
{
  outline: 0;
  background: none!important;
  border: none!important;
}
button 
{
  outline: 0;
  background: none!important;
  border: none!important;
}


/* NAVBAR */
.nav-bg-fixed {
  border-bottom: 1px solid #dbdbdb;    
  background: #fff;
  position: fixed;
  top: 0;
  height: 59px;
  width: 100%;
  z-index: 5;
}
.navbar-make-fixed {
  height: 59px!important;
}
.navbar {
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  padding: 0;
  height: 90px;
  z-index: 5;
}
@media only screen and (max-width : 992px) {
  .navbar {
    padding: 15px;
    height: auto;
  }
}
.navbar .navbar-all-links {
  height: 100%;
}
.nav-item {
  height: 100%;
}
.navbar .nav-item button {
  height: 100%;
}
.navbar .logo-icon {
  width: 75px;
}
.nav-link, .dropbtn {
  padding: 0 24px!important;
  color: #fff!important;
  font-size: 15px!important;
  font-weight: 700!important;
  line-height: 23px!important;
}
@media only screen and (max-width : 992px) {
  .navbar-nav {
    height: 200px!important;
    margin-top: 20px;
    background-color: #fff;
    border: 1px solid #dbdbdb;  
    padding: 20px 0; 
  }
  .nav-link, .dropbtn {
    color: #000!important;
  }
}
.navbar-toggler {
  background-color: rgba(256, 256, 256, 0.2)!important;
}
.nav-link-white {
  color: #000!important;
}
.dropbtn-white {
  color: #000!important;
}
.navbar .nav-link:hover, .dropbtn:hover {
  color: #38b5c8!important;
}
.navbar .go-right {
  margin-left: auto!important;
  height: 100%;
}
.dropbtn {
  background: none;
  border: none;
  cursor: pointer;
  height: 100%;
}
.dropdown {
  position: relative;
  display: inline-block;
  height: 100%;
}
.dropdown-content {
  background-color: #fff;
  position: absolute;
  right: -43px;
  min-width: 235px;
  z-index: 5;
  padding: 20px 0;
  border: 1px #303030;
  border-top: 2px solid #2eb4c9;
  border-radius: 3px;
}
.dropdown-content a {
  margin: auto;
  padding: 6px 20px;
  text-decoration: none;
  display: block;
  font-size: 13px;
  color: #000;
}
.drop-a:hover {
  margin-left: 10px;
}
.drop-a:hover span::before {
  content: '•';
  font-weight: bold;
  border-radius: 50%;
  color: #38b5c8;
  margin-right: 10px;
}
.hidethis {
  display: none;
}
@media only screen and (min-width : 992px) {
  .dropdown:hover .dropdown-content {
    display: block!important;
  }
}
@media only screen and (max-width : 992px) {
  .dropdown-content {
    background-color: #fff;
    right: -250px;
    top: 0;
    z-index: 5;
    padding: 0; 
    border-top: none;
    border: 1px #303030;
    border-left: 2px solid #2eb4c9;
    border-radius: 3px;
  }
}
/* HEADER */
.header {
  width: 100%;
  height: 100%;
  background: url(../images/bg2.png) no-repeat center center;
  background-size: cover;
  background-position: bottom;
}
.header-content-holder {
  position: relative;
  height: 100%;
}
.header .header-content {
  position: absolute;
  left: 0;
  top: calc(50% - 143px);
  width: 100%;
  text-align: center;
  z-index: 2;
}
.header .header-logo {
  width: 32%;
  height: 100%;
}
@media only screen and (max-width : 992px) {
  .header .header-logo {
    width: 50%;
  }
}
.header .header-first-title {
  margin-top: 35px;
  white-space: nowrap;
  font-size: 160%;
  line-height: 16px;
  font-weight: 600;
  color: rgba(256, 256, 256, 0.8);
  letter-spacing: 0px;
}
.header .header-second-title {
  margin-top: 30px;
  white-space: nowrap;
  font-size: 95%;
  line-height: 16px;
  font-weight: 400;
  color: rgb(256, 256, 256);
  letter-spacing: 0px;
}
@media only screen and (max-width : 768px) {
  .header .header-first-title {
    font-size: 130%;
  }
  .header .header-second-title {
    font-size: 80%;
  }
}
@media only screen and (max-width : 480px) {
  .header .header-first-title {
    font-size: 100%;
  }
  .header .header-second-title {
    font-size: 70%;
  }
}
.clouds {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 3;
}
.clouds img {
  position: absolute;
  bottom: -100px;
  max-width: 100%;
  transform: translateX(0%);
  animation: move-cloud calc(10s * var(--i)) linear infinite;
  opacity: .8;
}
@media only screen and (max-width : 992px) {
  .clouds img {
    bottom: 0;
  }
}
@keyframes move-cloud 
{
  0%
  {
    transform: translateX(-110%);
  }
  100%
  {
    transform: translateX(110%);
  }
}
.header .header-cnaves {
  position:absolute;
  opacity: 0.04;
  width: 100%;
  z-index: 3;
}



/* ABOUT */
.about {
  width: 100%;
  padding-top: 136px;
  padding-bottom: 150px;
  margin-bottom: 145px;
}
.about .about-message {
  width: 100%;
}
.about .about-message h1 {
  font-size: 65px;
  color: #3a3a3a;
  letter-spacing: 0;
  margin: 0;
  font-weight: 600;
}
.about .empty-div {
  height: 200px;
}
.about .about-cards {
  position: relative;
}
.about .about-cards .card-content {
  padding: 30px 18px;
}
.about .about-cards .card-content .card-icon {
  font-size: 100px;
  color: #38b5c8;
  height: 101px;
}
.about .about-cards .card-content .card-icon i {
  position: relative;
  top: -23px;
}
.about .about-cards .card-content .card-title {
  color: #38b5c8;
  padding-top: 14px;
  margin: 0;
}
.about .about-cards .card-content .card-title {
  font-size: 20px;
  font-weight: 600;
}
.about .about-cards .card-content .card-title span {
  letter-spacing: 0px;
}
.about .about-cards .card-content .card-parga p {
  margin: 8px 0px 0px 0px;
  font-size: 14px;
  letter-spacing: 0;
}
.about .background-about-holder
{
  position: absolute;
  display: block;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  z-index: -1;
}
.about .background-about-holder-text-warpper
{
  position: relative;
  top: -74px;
  display: table;
  table-layout: fixed;
  height: 100%;
  width: 100%;
}
.about .background-about-holder-text
{
  color: rgb(244, 244, 244);
  text-align: center;
  vertical-align: bottom;
  font-size: 260px;
}
.background-about-holder-main-text {
  letter-spacing: 0px;   
  font-weight: 700;
  line-height: 1;
}



/* SERVICES */
.services {
  padding: 67px 0 15px;  
  position: relative;
  background-color: rgba(248, 248, 248, .5);
}
.services .services-text {
  padding-top: 73px;
}
.services .services-text .services-text-title h2 {
  margin: 0;
  font-size: 45px;
  color: #3a3a3a;
  font-weight: 600;
}
.services .services-text .services-text-paragraph h5 {
  line-height: 26px;
  font-weight: 400;
  margin: 28px 0 0 0;
  letter-spacing: 0px;
  color: #3a3a3a;
}
.services .services-text .empty-div-2 {
  height: 27px;
}
.services .services-text .services-text-types p {
  margin: 10px 0;
  padding-left: 15px;
  font-size: 14px;
  color: #3a3a3a;
  letter-spacing: 0px;
}
.services-canvas {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  color: #888;
  background-color: rgb(248, 248, 248);
  z-index: -1;
}
.links {
  --link-size: calc(var(--base-grid)*20);
  color: var(--colour-black);
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  min-height: 100vh;
  margin-top: 55px;
}
@media only screen and (max-width : 768px) {
  .links {
    --link-size: calc(var(--base-grid)*12);
  }
}
@media only screen and (max-width : 360px) {
  .links {
    --link-size: calc(var(--base-grid)*10);
  }
}
.links__list {
  position: relative;
  list-style: none;
}

.links__item {
  width: var(--link-size);
  height: var(--link-size);
  position: absolute;
  top: 0;
  left: 0;
  margin-top: calc(var(--link-size)/-2);
  margin-left: calc(var(--link-size)/-2);
  --angle: calc(360deg/var(--item-total));
  --rotation: calc(140deg + var(--angle)*var(--item-count));
  transform: rotate(var(--rotation)) translate(calc(var(--link-size) + var(--base-grid)*15)) rotate(calc(var(--rotation)*-1));
}

.links__link {
  cursor: pointer;
  opacity: 0;
  animation: on-load .3s ease-in-out forwards;
  animation-delay: calc(var(--item-count)*150ms);
  width: 100%;
  height: 100%;
  box-shadow: 0 0 13px 0 rgba(0,0,0,.1);
  border-radius: 50%;
  position: relative;
  background-color: var(--colour-white);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-decoration: none;
  color: inherit;
}

.links__icon {
  transition: all .3s ease-in-out;
  color: #3a3a3a;
  font-size: 30px;
}

.links__text {
  position: absolute;
  width: 100%;
  left: 0;
  text-align: center;
  height: calc(var(--base-grid)*2);
  font-size: calc(var(--base-grid)*2);
  display: none;
  bottom: calc(var(--base-grid)*8.5);
  animation: text .3s ease-in-out forwards;
}

.links__link:after {
  content: "";
  background-color: transparent;
  width: var(--link-size);
  height: var(--link-size);
  border: 2px dashed #000;
  display: block;
  border-radius: 50%;
  position: absolute;
  top: 0;
  left: 0;
  transition: all .3s cubic-bezier(.53,-.67,.73,.74);
  transform: none;
  opacity: 0;
}
.services-icons-text {
  width: 200%;
  display: none;
}
.services-icons-text-1 {
  position: absolute;
  top: -6px;
  left: 155px;
}
.services-icons-text-2 {
  position: absolute;
  top: 137px;
  left: 82px;
}
.services-icons-text-3 {
  position: absolute;
  top: 185px;
  left: -70px;
}
.services-icons-text-4 {
  position: absolute;
  top: 111px;
  left: -214px;
}
.services-icons-text-5 {
  position: absolute;
  top: -42px;
  left: -263px;
}
.services-icons-text-6 {
  position: absolute;
  top: -185px;
  left: -190px;
}
.services-icons-text-7 {
  position: absolute;
  top: -233px;
  left: -36px;
}
.services-icons-text-8 {
  position: absolute;
  top: -159px;
  left: 106px;
}
@media only screen and (max-width : 768px) {
  .services-icons-text {
    width: 400%;
  }
  .links__text {
    font-size: 10px;
    top: 16px;
  }
  .services-icons-text-1 {
    position: absolute;
    top: 5px;
    left: 61px;
  }
  .services-icons-text-2 {
    position: absolute;
    top: 115px;
    left: 2px;
  }
  .services-icons-text-3 {
    position: absolute;
    top: 152px;
    left: -113px;
  }
  .services-icons-text-4 {
    position: absolute;
    top: 95px;
    left: -224px;
  }
  .services-icons-text-5 {
    position: absolute;
    top: -23px;
    left: -261px;
  }
  .services-icons-text-6 {
    position: absolute;
    top: -133px;
    left: -203px;
  }
  .services-icons-text-7 {
    position: absolute;
    top: -170px;
    left: -87px;
  }
  .services-icons-text-8 {
    position: absolute;
    top: -113px;
    left: 18px;
  }
}
.services-icons-text-title {
  margin: 0 0 10px 0;
  color: #38b5c8;
  font-size: 14px;
}
.services-icons-text h4 {
  color: #3a3a3a;
  margin: 0;
}
.services-icons-text-paragraph {
  margin: 20px 0 0 0;
  color: #888;
  font-size: 14px;
}

.links__link:hover .links__icon {
  transition: all .3s ease-in-out;
  transform: translateY(calc(var(--base-grid)*-1));
}
.links__link:hover {
  background-color: #38b5c8;
}

.links__link:hover:after {
  transition: all .3s cubic-bezier(.37,.74,.15,1.65);
  transform: scale(1.1);
  opacity: 1;
}

@keyframes on-load {
  0% {
    opacity: 0;
    transform: scale(.3);
  }
  70% {
    opacity: .7;
    transform: scale(1.1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@keyframes text {
  0% {
    opacity: 0;
    transform: scale(0.3) translateY(0);
  }
  100% {
    opacity: 1;
    transform: scale(1) translateY(calc(var(--base-grid)*5));
  }
}

/* SERVICES2 */
.services-2 {
  width: 100%;
  padding: 110px 0 150px;
  background: url(../images/h2-background-img-1.jpg) no-repeat center center;
  background-size: cover;
  background-position: bottom;
}
.services-2 h3 {
  color: #3a3a3a;
  margin: 48px 0 0 0;
  font-size: 32px;
  font-weight: 600;
}
.services-2 h5 {
  color: #484848;
  font-size: 18px;
  font-style: italic;
  font-weight: 400;
  line-height: 28px;
  margin: 14px 0 0 0;
}
.services-2 p {
  margin-top: 28px;
  line-height: 26px;
  font-size: 14px;
}
.services-2 img {
  margin-top: 48px;
  max-width: 100%;
}
.btn-wrap {
  margin-top: 42px;
}
.btn-lern {
  position: relative;
  display: block;
  overflow: hidden;
  width: 100%;
  height: 54px;
  max-width: 150px;
  text-transform: uppercase;
  background-color: #38b5c8;
  border-radius: 50px;
  padding: 18px 34px;
  text-align: center;
}
.btn-lern .text-on-btn {
  position: absolute;
  top: 25%;
  left: 0;
  width: 100%;
  font-weight: bold;
  font-size: 13px;
  letter-spacing: .07em;
  line-height: 2;
  z-index: 6;
  color: #fff;
}
.btn-lern .span-hovering {
  position: absolute;
  display: block;
  width: 0;
  height: 0;
  border-radius: 50%;
  background-color: #000!important;
  -webkit-transition: width 0.4s ease-in-out, height 0.4s ease-in-out;
  transition: width 0.4s ease-in-out, height 0.4s ease-in-out;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: -1;
  transition-timing-function: ease;
  transition-duration: 0.8s;
}
.btn-lern:hover {
  color: #002;  
  transition-timing-function: ease;
  transition-duration: 0.8s;
}
.btn-lern:hover .span-hovering {
  width: 225%;
  height: 562.5px;
  transition-timing-function: ease;
  transition-duration: 0.8s;
}
.btn-lern:focus .span-hovering {
  background-color: #141515!important;
}

/* CLIENTS */
.clients {
  width: 100%;
  padding: 104px 0 102px;
  background-color: #fff;
}
.clients h3 {
  margin: 0 0 32px 0;
  font-weight: 600;
  color: #3a3a3a;
  font-size: 35px;
}
.clients .client-img-holder {
  margin: 0 0 30px;
  position: relative;
}
.clients .client-img-holder .img-showen {
  opacity: 1;
}
.clients .client-img-holder .img-hidden {
  position: absolute;
  top: 0;
  left: 19px;
  opacity: 0;
}
@media only screen and (max-width : 480px) {
  .clients .client-img-holder .img-hidden {
    left: 100px;
  }
}
.client-link:hover .img-showen {
  opacity: 0!important;
}

.client-link:hover .img-hidden {
  opacity: 1!important;
}

/* TWSTIMONIAL */
.testimonial {
  width: 100%;
  background-color: rgba(160,160,160,0.1);
  padding: 130px 0 122px;
}
.hidden-testi {
  display: none;
}
.gallery-cell {
  width: 100%; 
}
.testimonial-holder {
  text-align: center;
}
.testimonial-avatar {
  width: 75px;
  border-radius: 50%;
}
.testimonial-quote {
  display: block;
  color: #000;
  font-size: 22px;
  line-height: 36px;
  font-style: italic;
  margin: 20px 10% 0;
  letter-spacing: 0;
}
.testimonial-author {
  display: block;
  font-weight: 800;
  color: #3a3a3a;
  margin: 20px 0 0 0;
  font-size: 20px;
}
.testimonial-type {
  display: block;
  font-size: 13px;
  color: #38b5c8;
}

/* FOOTER */
.footer {
  padding: 110px 0 60px;
  width: 100%;
  background-color: #141515;
}
.footer-up {
  margin-bottom: 70px;
}
.footer .footer-logo {
  margin: 0 0 45px;
}
.footer .footer-message p {
  color: #ababab;
  padding: 6px 0 0 0;
  margin: 0;
  font-size: 14px;
  line-height: 2em;
  letter-spacing: 0;
}
.footer .footer-message p a {
  color: #38b5c8;  
}
.footer .col-num-2 h5 {
  margin: 131px 0 10px 0;
  color: #fff;
  letter-spacing: 0;
  font-size: 20px;
  font-weight: 600;
}
.footer .col-num-2 .additional-links {
  margin: 0 0 45px;
}
.footer .col-num-2 li {
  padding: 6px 0;
}
.footer .col-num-2 li a {
  color: #ababab;
  letter-spacing: 0;
  font-size: 14px;
}
.footer .col-num-2 li a:hover {
  color: #38b5c8;  
}
.footer .footer-text {
  margin: 131px 0 10px 0;
}
.footer .footer-text p {
  color: #ababab;
  margin: 0;
  font-size: 14px;
  line-height: 2em;
  letter-spacing: 0;
}
.footer .footer-text-link-contact {
  margin: 0 0 84px 0;
}
.footer .footer-text-link-contact a {
  color: #38b5c8;  
}
.footer .social-icons {
  margin: 0 0 45px 0;
}
.footer .social-icons a {
  color: #ababab;
  margin-right: 15px;
}
.footer .social-icons a:hover {
  color: #38b5c8;  
}
.footer .footer-of-footer {
  border-top: 1px solid #373737;
  padding: 15px 0 0 0;
}
.footer .footer-of-footer p {
  color: #ababab;
  margin: 0;
  font-size: 14px;
  line-height: 2em;
  letter-spacing: 0;
}
.footer .footer-of-footer p a {
  color: #ababab;
}
.footer .footer-of-footer p a:hover {
  color: #38b5c8;  
}

/* GOUP */
#btn-go-top {
  width: 41px;
  height: 41px;
  display: none;
  position: fixed; 
  bottom: 20px; 
  right: 30px;
  z-index: 99;
  border: none; 
  outline: none; 
  background-color: #38b5c8!important; 
  color: #fff; 
  cursor: pointer;
  font-size: 18px;
}
#btn-go-top i {
  position: absolute;
  top: 10px;
  left: 15px;
}
#btn-go-top:hover {
  background-color: #000!important;
}
#btn-go-top::before {
  content: '|';
  position: absolute;
  top: 11px;
  left: 19px;
  opacity: 0;
  transition-timing-function: ease;
  transition-duration: 0.3s;
}
#btn-go-top:hover::before {
  top: 5px;
  left: 19px;
  opacity: 1;
  transition-timing-function: ease;
  transition-duration: 0.3s;
}
#btn-go-top:hover i {
  position: absolute;
  top: 3px;
  left: 15px;
}



/* OVERRIDE */
.hide-it {
  display: none!important;
}
.show-it {
  display: block!important;
}
.links-icon-add-hover {
  transition: all .3s ease-in-out;
  transform: translateY(calc(var(--base-grid)*-1));
}
.links-link-add-hover {
  background-color: #38b5c8;
}
.links-link-add-hover-after:after {
  transition: all .3s cubic-bezier(.37,.74,.15,1.65);
  transform: scale(1.1);
  opacity: 1;
}

